@model IEnumerable<Models.Contacto>

@{
    ViewBag.Title = "ListarContactos";
}

<h2 style="margin:auto; margin-top:30px; color:white; text-align:center" class="bg-dark">ListarContactos</h2>

<div style="margin-top:15px;margin-bottom:15px;">
    @Html.ActionLink("REGISTRAR NUEVO", "Registrar", "Contacto", new { area = "" }, new { @class = "btn btn-dark" })
</div>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empresa)
            </th>
            <th>
                Operaciones
            </th> 
        </tr>
    </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Edad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empresa)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit","Contacto", new { area = "" }, new { @class = "btn btn-dark" }) |                    
                    @Html.ActionLink("Eliminar", "Delete", "Contacto", new { area = "" }, new { @class = "btn btn-dark" })
                </td>
            </tr>
        }

</table>
